.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  align-items: center;
}
.header .header__title {
  font-size: 24px;
  font-weight: 800;
}

.header .header__icon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}
.header .header__column {
  display: flex;
  align-items: center;
}
.header .header__back-btn {
  margin-right: 20px;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}
